*{margin:0;padding:0;}
html, body{width: 100%;height: 80%;overflow: hidden;background: #333}
#player{width: 100%;height: 100%;position: absolute;z-index: 2; top:0; right:0; left:0; bottom:0;}

.media-control.live[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar] .bar-fill-2[data-seekbar]{background-color:#ff0101!important}
.media-control[data-media-control] .media-control-layer[data-controls] .bar-container[data-seekbar] .bar-background[data-seekbar]{height:3px!important}


 .media-control[data-media-control] .media-control-background[data-background] 
{
    height: 10%!important; 
}  
